a {
    text-decoration: none;
}
.content {
    width:calc(100% - 600px);
    min-height: 300px;
    background-color: #e3e6f3;
    margin:100px auto;
    padding:100px;
}
    .content-title {    
        font-size: 30px;
        color:#776161;
        font-weight: 400;
        text-align: center;
    }
    .content-input {
        display: flex;
    }

    .content-alert {
        color:red;
    }
    
    .content-field {
        flex: 1;
    }
    .content-field,
    .content-item {
        border: 1px solid rgba(147, 128, 108, 0.25);
        padding: 1em 0.75em;
    }
    .content-item {
        color:#6f6d67;
        cursor: pointer;
    }
    .content-field:first-child,
    .content-item:first-child {
        border-radius: 2px 0 0 2px;
    }
    .content-field:last-child,
    .content-item:last-child {
        border-radius: 0 2px 2px 0;
    }
ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    color:#776161;
    padding:10px 30px;
  }    
  
    ul li:nth-child(odd) {
        background: #f9f9f9;
    }
    
    ul li:hover {
        background: #ddd;
    }

    ul li.hidden {
        display: none;
    }
  
    ul li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
    }
  
    ul li.checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }
  
.delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 16px;
}

.delete:hover {
    background-color: #711b1b;
    color: white;
}